/* Creando variables*/

$fuente: 'Poppins', Helvertica, sans-serif;
$color-primario: #F3F4F6;
$color-secundario: black;
$color-tercero: red;
$color-cuarto: green;
$color-quinto:#ab99ca;
$color-sexto: white;
$color-septimo: #E5E7EB;
$espacio: 1.5rem;
